# Virtual env
.venv/
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data (structure versionnée, données ignorées)
data/**
!data/**/
!data/**/.gitkeep
*.csv
*.parquet

# OS / IDE
.DS_Store
.vscode/
